{% trans_default_domain 'FOSUserBundle' %}

{% if is_granted('ROLE_ADMIN') %}
    <div class="row">
        <a href="" class="btn btn-info">Adverts</a>
        <a href="{{ path('category_index') }}" class="btn btn-secondary">Categories</a>
    </div>
{% endif %}
<div class="fos_user_user_show">
    <p>{{ 'User'|trans }}: {{ user.username }}</p>
    <p>{{ 'Email'|trans }}: {{ user.email }}</p>
</div>
